.tab img {
    border: .05em solid grey;
    margin: 1em 0em;
    margin-inline: auto;
    width: 70%;
}

pre {
    text-wrap: pretty
}

.ui.fluid.menu>.item {
    font-size: 1.3em;
}

@media screen and (max-width: 800px) {
    .tab img {
        width: 100%;
        border: .05em solid grey;
    }
}